{% extends 'base.html' %}

{% block content %}
{{block.super}}


<style>
    body {
        background-image: url("https://cdn.pixabay.com/photo/2020/07/01/16/59/cherries-5360265_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<br>

<br>

<br>

<br>
<!-- Page Content -->
<section class="py-5">
  <div class="container-fluid">
    <div class="container-fluid text-center landing">
<h1 class="mb-4 d-none d-md-block text-center">
  <marquee> <strong style="font-family: 'Diplomata', cursive; background-color: white; color:blue;">Welcome To <strong><h1>ELITE</h1></strong>Gallery</strong></marquee>
</h1>

<p style="font-family: 'Timmana', sans-serif; font-size: 30px; color:green;">Search for photos from categories such as Sports, Fruits, Mansion, Nature, Animals and Cars</p><br>
<div style="padding-bottom: 100px">
<a target="_blank" href="{%url 'gallery'%}" class="btn btn-warning">View Gallery</a>
</div>
</div>
  {% for image in images %}

    <div class="col-md-3 col-sm-3 col-xs-3">
      <img src="{{image.image_path.url}}" class="img-responsive img-fluid img-thumbnail" style="width: 100%;height:200px"
        data-toggle="modal" data-target="#{{ image.id }}" data-backdrop="false">
    </div>

    {% endfor %}
  </div>
</section>


{% endblock %}