{% extends 'base.html' %}

{% block content %}
{{block.super}}

<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1503327431567-3ab5e6e79140?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<!-- Page Content -->
<section class="py-5">
  <div class="container-fluid">
    <div class="container-fluid text-center landing" >
<h1 class="mb-4 d-none d-md-block text-center">
  <marquee> <strong>Welcome To My Gallery</strong></marquee>
</h1>

<p style="color: rgb(200, 100, 20);font-size: 15px">Search for photos from categories such as Food, Sports, People, Nature and plants</p><br>
<div style="padding-bottom: 100px">
<a target="_blank" href="{%url 'gallery'%}" class="btn btn-success">View Gallery</a>
</div>
</div>

  </div>
</section>


{% endblock %}